@model HotelShare.Web.ViewModels.Account.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Resources.Login</h1>

<hr />
<div class="row">
    <div class="col-md-4 login-wrapper">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>@Resources.Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>@Resources.Password</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            @if (!String.IsNullOrEmpty(Model.ReturnUrl))
            {
                <input type="hidden" name="@nameof(Model.ReturnUrl)" value="@Model.ReturnUrl" />
            }

            <div class="form-group">
                <input type="submit" value="@Resources.SignIn" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>


